.content {
  width: 80vw;
}

.content h2 {
  margin: 30px auto 15px;
  font-size: 32px;
}

.content hr {
  border: thin solid #C0C0C060;
}

.content h3 {
  margin: 40px auto 20px;
  font-size: 26px;
}

.content .btn-sair {
  font-weight: bold;
  color: white;
  background-color: red;
  font-size: 17px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
  float: right;
}

.content .btn-sair:hover {
  box-shadow: 1px 1px 2px silver;
}

.content .btn-adicionar {
  font-weight: bold;
  color: white;
  background-color: #32CD32;
  font-size: 17px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

.content .btn-adicionar:hover {
  box-shadow: 1px 1px 2px silver;
}
